{{!-- <h2 class='subtitles'>Discount products</h2> --}}
{{#each this}}
  <div class='disc' id='{{this._id}}' data-open-modal>
    <div class='disc__wrapperimg'>
      <img class='disc__img' src='{{this.img}}' alt='{{this.name}}' />
    </div>
    <div class='disc__wrappParagr'>
      <h2 class='disc__title'>{{this.name}}</h2>
      <div class='disc__bottonInfo'>
        <h2 class='disc__price'>${{this.price}}</h2>
        <button class='disc__btn btn add2cart'>
          <svg
            class='disc__svg'
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 576 512'
          ><path
              d='M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z'
            /></svg>
        </button>
      </div>
    </div>
    <div class='disc__discRound'>
      <svg
        width='60'
        height='61'
        viewBox='0 0 60 61'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <g clip-path='url(#clip0_2_1012)'>
          <g clip-path='url(#clip1_2_1012)'>
            <g clip-path='url(#clip2_2_1012)'>
              <path
                d='M30 60.4102C46.5685 60.4102 60 46.9787 60 30.4102C60 13.8416 46.5685 0.410156 30 0.410156C13.4315 0.410156 0 13.8416 0 30.4102C0 46.9787 13.4315 60.4102 30 60.4102Z'
                fill='#6D8434'
              />
              <path
                d='M50.5248 39.5277L50.0883 40.7096L42.0374 37.7431L42.474 36.5612L43.1383 36.806L43.1466 36.7834C42.8648 36.3343 42.6335 35.6096 42.9619 34.7203C43.5065 33.2457 45.0583 32.577 46.95 33.274C48.8416 33.971 49.5869 35.4861 49.0423 36.9608C48.7139 37.8501 48.0894 38.2594 47.538 38.4015L47.5297 38.424L50.5248 39.5277ZM43.8554 35.2798C43.4979 36.2479 44.077 37.1391 45.3494 37.6079C46.633 38.0809 47.6416 37.7747 47.9991 36.8066C48.3816 35.771 47.6394 34.8709 46.5134 34.456C45.3874 34.0411 44.2379 34.2441 43.8554 35.2798Z'
                fill='#FAFAFA'
              />
              <path
                d='M47.0489 42.6522C47.2547 42.3716 47.6614 42.2229 48.0102 42.4778C48.3589 42.7327 48.3301 43.1575 48.1244 43.4382C47.9044 43.7382 47.5145 43.8843 47.1657 43.6294C46.8169 43.3745 46.829 42.9522 47.0489 42.6522ZM46.5847 41.5401L45.8396 42.5562L40.8889 38.938L41.634 37.9219L46.5847 41.5401Z'
                fill='#FAFAFA'
              />
              <path
                d='M40.9281 44.1028C39.889 44.6162 38.7835 45.1998 37.8508 44.0714C37.1016 43.1649 37.4135 41.96 38.5624 41.0143C40.091 39.7559 41.3375 39.9267 42.2094 40.8875L41.2644 41.6654C40.7977 41.1948 40.216 40.9431 39.2154 41.7668C38.5391 42.3236 38.5271 42.893 38.7717 43.189C39.261 43.7809 39.8644 43.362 40.6968 42.9565C41.5925 42.5144 42.7339 41.8235 43.6207 42.8965C44.2629 43.6734 44.0895 44.8575 42.9037 45.8338C41.6159 46.8939 40.431 46.7035 39.6858 45.9337L40.6308 45.1557C41.0014 45.4723 41.5002 45.699 42.2599 45.0737C42.8435 44.5932 42.9751 44.1119 42.6998 43.7789C42.3023 43.2979 41.7437 43.6956 40.9281 44.1028Z'
                fill='#FAFAFA'
              />
              <path
                d='M34.4065 47.5891C34.6535 48.1642 35.2728 48.7523 36.2954 48.405C37.4658 48.0075 37.6245 46.8384 37.2523 45.7482C36.88 44.658 36.0502 43.8246 34.8685 44.2259C33.8459 44.5732 33.7113 45.4046 33.8869 46.0674L32.6938 46.4725C32.3271 45.1016 33.0238 43.7625 34.535 43.2493C36.2735 42.6588 37.8249 43.526 38.4453 45.343C39.0657 47.16 38.3674 48.7912 36.6402 49.3778C35.129 49.891 33.8109 49.2615 33.2134 47.9943L34.4065 47.5891Z'
                fill='#FAFAFA'
              />
              <path
                d='M29.2619 43.9949C31.1783 44.112 32.2594 45.5125 32.1437 47.417C32.028 49.3215 30.7854 50.58 28.869 50.4628C26.9526 50.3457 25.8715 48.9451 25.9872 47.0406C26.1029 45.1361 27.3455 43.8777 29.2619 43.9949ZM29.1993 45.0249C28.0015 44.9516 27.3212 45.8599 27.2448 47.1176C27.1677 48.3873 27.7338 49.3595 28.9316 49.4327C30.1293 49.506 30.8089 48.6098 30.886 47.3401C30.9624 46.0824 30.3971 45.0981 29.1993 45.0249Z'
                fill='#FAFAFA'
              />
              <path
                d='M20.1944 47.8003L19.0608 47.2503L21.7435 41.7363L22.8771 42.2863L22.5306 42.9984L22.5522 43.0089C23.0537 42.7187 23.8359 42.5647 24.786 43.0257C25.8116 43.5233 26.3326 44.5096 25.7184 45.7722L23.8652 49.5813L22.7208 49.026L24.4165 45.5406C24.7787 44.7961 24.6966 44.1694 23.9193 43.7922C23.0448 43.3679 22.2261 43.6243 21.8271 44.4444L20.1944 47.8003Z'
                fill='#FAFAFA'
              />
              <path
                d='M14.6872 43.454C13.9263 42.605 13.818 41.4953 14.8654 40.5603L18.0254 37.7393L18.8743 38.6865L15.9829 41.2678C15.3652 41.8192 15.2036 42.43 15.7802 43.0734C16.4289 43.7973 17.284 43.8704 17.9643 43.263L20.7484 40.7777L21.5893 41.716L17.0149 45.7996L16.174 44.8613L16.7648 44.3339L16.7488 44.316C16.1745 44.3944 15.3919 44.2404 14.6872 43.454Z'
                fill='#FAFAFA'
              />
              <path
                d='M12.0886 36.7399L12.5633 37.7895L15.5944 36.4251C16.2291 36.1394 16.1672 35.7987 15.7871 35.075L16.7281 34.6514C16.8867 34.8563 17.0333 35.093 17.1718 35.3992C17.5872 36.3176 17.3989 37.0077 16.2171 37.5397L13.0876 38.9484L13.4536 39.7575L12.5125 40.1811L12.1465 39.372L10.3848 40.1651L9.8606 39.0061L11.6223 38.2131L11.1475 37.1635L12.0886 36.7399Z'
                fill='#FAFAFA'
              />
              <path
                d='M8.42603 24.1244L8.69989 22.8945L17.0752 24.7575L16.8014 25.9873L16.1102 25.8336L16.105 25.857C16.4446 26.2645 16.771 26.9518 16.565 27.8771C16.2233 29.4115 14.7755 30.28192819 12.8076 29.8442C10.8397 29.4065 9.89787 28.0045 10.2396 26.4701C10.4456 25.5448 11.0094 25.0555 11.5367 24.8409L11.5419 24.8175L8.42603 24.1244ZM15.6045 27.4422C15.8288 26.4349 15.1354 25.6291 13.8117 25.3346C12.4764 25.0376 11.5182 25.476 11.2939 26.4834C11.0539 27.561 11.9101 28.3538 13.0815 28.6143C14.2528 28.8749 15.3646 28.5198 15.6045 27.4422Z'
                fill='#FAFAFA'
              />
              <path
                d='M11.4424 20.563C11.2761 20.8687 10.8931 21.0705 10.5134 20.8646C10.1336 20.6587 10.1052 20.2337 10.2715 19.928C10.4492 19.6012 10.8159 19.4042 11.1957 19.6101C11.5754 19.8161 11.6201 20.2362 11.4424 20.563ZM12.0514 21.6031L12.6534 20.4963L18.0438 23.4195L17.4418 24.5263L12.0514 21.6031Z'
                fill='#FAFAFA'
              />
              <path
                d='M17.3269 18.2863C18.2898 17.6412 19.3093 16.9178 20.3816 17.9144C21.243 18.7151 21.0916 19.9505 20.0766 21.0386C18.7259 22.4864 17.4679 22.4803 16.4777 21.6419L17.3127 20.7469C17.837 21.1523 18.4466 21.3257 19.3306 20.378C19.9282 19.7375 19.8655 19.1713 19.5843 18.9099C19.0217 18.3871 18.4784 18.8815 17.7063 19.3925C16.8763 19.9481 15.8352 20.7826 14.8156 19.8349C14.0773 19.1486 14.0941 17.9519 15.1419 16.8288C16.2797 15.6091 17.4792 15.6427 18.3187 16.3084L17.4838 17.2034C17.0749 16.938 16.5508 16.7786 15.8796 17.4981C15.3639 18.0509 15.2966 18.5453 15.613 18.8394C16.07 19.2642 16.5718 18.7967 17.3269 18.2863Z'
                fill='#FAFAFA'
              />
              <path
                d='M23.243 14.0034C22.9202 13.4671 22.2269 12.9684 21.2607 13.4509C20.1549 14.0032 20.1562 15.1829 20.6728 16.2126C21.1895 17.2422 22.1247 17.9555 23.2412 17.3979C24.2074 16.9154 24.228 16.0734 23.9642 15.4406L25.0914 14.8777C25.6406 16.1862 25.1319 17.6072 23.7041 18.3203C22.0615 19.1406 20.4067 18.4916 19.5456 16.7756C18.6845 15.0595 19.1553 13.3489 20.7871 12.5339C22.215 11.8208 23.6064 12.266 24.3703 13.4404L23.243 14.0034Z'
                fill='#FAFAFA'
              />
              <path
                d='M28.8222 16.8457C26.9073 16.9851 25.6484 15.7412 25.5082 13.8384C25.3679 11.9356 26.4309 10.5226 28.3458 10.3832C30.2608 10.2438 31.5196 11.4876 31.6599 13.3904C31.8001 15.2933 30.7371 16.7062 28.8222 16.8457ZM28.7463 15.8164C29.9432 15.7293 30.4958 14.7385 30.4032 13.4819C30.3097 12.2134 29.6185 11.3252 28.4217 11.4124C27.2249 11.4995 26.6713 12.4783 26.7648 13.7469C26.8575 15.0035 27.5495 15.9036 28.7463 15.8164Z'
                fill='#FAFAFA'
              />
              <path
                d='M37.3489 11.8578L38.5454 12.2525L36.6208 18.0746L35.4242 17.6799L35.6728 16.9279L35.65 16.9204C35.1916 17.2746 34.437 17.5311 33.4342 17.2003C32.3515 16.8431 31.704 15.9345 32.1447 14.6015L33.4742 10.5796L34.6822 10.9781L33.4656 14.6582C33.2058 15.4443 33.3705 16.0547 34.191 16.3254C35.1141 16.6299 35.8912 16.2671 36.1775 15.4012L37.3489 11.8578Z'
                fill='#FAFAFA'
              />
              <path
                d='M43.3934 15.4179C44.2591 16.1597 44.5121 17.2457 43.5966 18.3102L40.8345 21.5218L39.8687 20.6941L42.396 17.7555C42.9359 17.1278 43.016 16.5009 42.3599 15.9387C41.6218 15.3062 40.7646 15.3459 40.1699 16.0374L37.7365 18.867L36.7798 18.047L40.7781 13.3979L41.7349 14.2178L41.2184 14.8182L41.2367 14.8339C41.7957 14.6808 42.5916 14.7307 43.3934 15.4179Z'
                fill='#FAFAFA'
              />
              <path
                d='M46.8443 21.6773L46.2326 20.7011L43.4126 22.4609C42.8221 22.8293 42.9293 23.1585 43.4033 23.8245L42.5278 24.3708C42.3431 24.1891 42.166 23.9743 41.9875 23.6896C41.4522 22.8355 41.5459 22.1263 42.6454 21.4402L45.5571 19.6233L45.0855 18.8709L45.961 18.3246L46.4326 19.077L48.0716 18.0542L48.7471 19.132L47.1081 20.1548L47.7199 21.1309L46.8443 21.6773Z'
                fill='#FAFAFA'
              />
              <path
                d='M32.9167 28.0769C27.6667 29.2435 26.4417 32.8427 25.2283 35.8585L26.3308 36.2435L26.885 34.9019C27.165 35.001 27.4567 35.0769 27.6667 35.0769C34.0833 35.0769 35.8333 25.1602 35.8333 25.1602C35.25 26.3269 31.1667 26.4727 28.25 27.056C25.3333 27.6394 24.1667 30.1185 24.1667 31.2852C24.1667 32.4519 25.1875 33.4727 25.1875 33.4727C27.0833 28.0769 32.9167 28.0769 32.9167 28.0769Z'
                fill='#FAFAFA'
              />
            </g>
          </g>
        </g>
        <defs>
          <clipPath id='clip0_2_1012'>
            <rect
              width='60'
              height='60'
              fill='white'
              transform='translate(0 0.410156)'
            />
          </clipPath>
          <clipPath id='clip1_2_1012'>
            <rect
              width='60'
              height='60'
              fill='white'
              transform='translate(0 0.410156)'
            />
          </clipPath>
          <clipPath id='clip2_2_1012'>
            <rect
              width='60'
              height='60'
              fill='white'
              transform='translate(0 0.410156)'
            />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
{{/each}}